/* Write your custom CSS here */

#errors{
    display:none;
}
img.logo{width:40%;}
.logo-box img{ height:60px; padding:5px;}

.thumbnail{
    border:none;

}

.logo-box span{
    font-size: 16px;
    font-weight: 600;
}


.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.activated {
    cursor:progress;
}

.has-spinner.activated .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}
