#header{
    margin-bottom: 0;
}
.navbar
{
    padding-left:0;
    padding-right:0;
}

#map-section {
    position: relative;
}


#map-filter {
    background-color: rgb(45, 87, 130);
    box-sizing: border-box;
    color: white;
    height: 100%;
    left: 0;
    min-width: 200px;
    opacity: 0.95;
    overflow: auto;
    padding: 53px 50px 25px 25px;
    position: absolute;
    top: 0;
    width:23%;
    z-index: 2;
}

#map-container {
    height: 800px;
    width: 100%;
}