html,body {height:100%;}
#header{
    margin-bottom: 0;
}
.navbar
{
    padding-left:0;
    padding-right:0;
    position:fixed;
    top:0;
    width:100%;
}

#map-section {
    bottom: 0;
    left: 0;
    margin-top: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

#map-filter {
    background-color: #41454c;
    box-sizing: border-box;
    color: white;
    height: 100%;
    left: 0;
    min-width: 200px;
    opacity: 0.95;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 23%;
    z-index: 2;
}

#map-container {
    min-height: 800px;
    width: 100%;
    height:100%;
}

#filters {

    min-height:300px;
}
#filters h1 {
    margin: 0;
    padding:35px 10px;

}

#period {
    padding: 2%;
}

.datepick-wrapper {
    margin-bottom: 2%;
}

#period .datepicker {
    padding: 0;
    width: 80%;
}


.mission {
    background-color: rgba(54,106,169,0.9);
    border-top: 0 none;
    padding: 25px 15px;
    cursor:pointer;
}

#pois-events #show-events, #pois-events #show-pois {
    background-color: rgba(54,106,169,0.9);
}

/*.mission:nth-child(2n) {*/
    /*background-color:  rgba(178, 197, 208, 0.56);*/
/*}*/

.mission:hover, .mission.active, #pois-events #show-events:hover, #pois-events #show-pois:hover, #pois-events #show-events.active, #pois-events #show-pois.active
{
    background-color: #F15A59;
}

#pois-events {
    height: 40px;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 10px;

    z-index: 100;
}

#pois-events a {
    background-color: gray;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: inline-block;
    /*margin-left: 10px;*/
    text-decoration: none;
    padding:10px;
    width: 245px;
    text-align: center;
    margin-bottom: 10px;
}

#hideEvents, #hidePoIs{
    width: auto !important;
    background-color: #F15A59 !important;
}



/* Absolute Center Spinner */
.loading {
    display: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
