html,body {height:100%;}
#header{
    margin-bottom: 0;
}
.navbar
{
    padding-left:0;
    padding-right:0;
    position:fixed;
    top:0;
    width:100%;
}

#map-section {
    bottom: 0;
    left: 0;
    margin-top: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

#map-filter {
    background-color: #41454c;
    box-sizing: border-box;
    color: white;
    height: 100%;
    left: 0;
    min-width: 200px;
    opacity: 0.95;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 23%;
    z-index: 2;
}

#map-container {
    min-height: 800px;
    width: 100%;
    height:100%;
}

#filters {

    min-height:300px;
}
#filters h1 {
    margin: 0;
    padding:35px 10px;

}


.mission {
    background-color: rgba(54,106,169,0.9);
    border-top: 0 none;
    padding: 25px 15px;
    cursor:pointer;
}

/*.mission:nth-child(2n) {*/
    /*background-color:  rgba(178, 197, 208, 0.56);*/
/*}*/

.mission:hover, .mission.active, #pois-events a:hover, #pois-events a.active
{
    background-color: #F15A59;
}

#pois-events {
    height: 40px;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 10px;

    z-index: 100;
}

#pois-events a {
    background-color: gray;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    padding:10px;

}

